<table class="responsive-table large-only">
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Invitation Source</th>
            <th>RPTQ/GP Date</th>
            <th>RPTQ/GP City</th>
            <th>RPTQ/GP Country</th>
        </tr>
    </thead>
    <colgroup><col><col><col><col><col><col></colgroup>
    <tbody>
        <tr>
            <td>Fabrizio</td>
            <td>Anteri</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>Christian</td>
            <td>Calcano</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>Marco</td>
            <td>Cammilluzzi</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>Marcio</td>
            <td>Carvalho</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>Paul</td>
            <td>Cheon</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>Justin</td>
            <td>Cohen</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>Patrick</td>
            <td>Cox</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>Andrew</td>
            <td>Cuneo</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
        <tr>
            <td>Pierre</td>
            <td>Dagen</td>
            <td>2014-2015 Pro Club Gold Level*</td>
            <td>n/a</td>
            <td>n/a</td>
            <td>n/a</td>
        </tr>
    </tbody>
</table>